<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Traffic Checker</name>
    <description>
        An app to choose which bridge to takevent.
    </description>
    <author email="ewartx@gmail.com">
        Ewart Xia
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="KeepRunning" value="false"/>
</widget>
